version: '3.8'

services:
  pipeline:
    build: .
    container_name: tokenturbine_pipeline
    volumes:
      # Mount your local 'data' folder to '/app/data' in the container
      # This allows the container to read your inputs and write outputs to your disk
      - ./data:/app/data
      - ./data/reports:/app/data/reports
    environment:
      - RAY_ADDRESS=auto # or local?
      - PYTHONUNBUFFERED=1

    # Shared memory (important for Ray)
    shm_size: '2gb'

    # Resource limits
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 6G
    # Override command if needed, or use default
    command: ["--config", "configs/base.yaml"]