version: '3.8'

services:
  pipeline:
    build: .
    container_name: tokenturbine_pipeline
    volumes:
      # Mount your local 'data/raw' folder to '/app/data/raw' in the container
      # This allows the container to read your inputs and write outputs to your disk
      - ./data/raw:/app/data/raw
      - ./data/processed:/app/data/processed
      - ./data/processed/tokenized:/app/data/processed/tokenized
      - ./data/reports:/app/data/reports
    environment:
      - RAY_ADDRESS=local
      - PYTHONUNBUFFERED=1

    # Shared memory (important for Ray)
    shm_size: '2gb'

    # Resource limits
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 6G
    # Override command if needed, or use default
    command: ["--config", "configs/base.yaml"]