# Core Distributed Compute
# 'default' installs the dashboard, 'data' installs the streaming engine
ray[default,data]>=2.9.0

# Data Processing & Types
pyarrow>=14.0.0
pandas>=2.0.0
numpy>=1.24.0

# Data normalisation
beautifulsoup4>4.14

# Hashing & Algorithms
xxhash>=3.4.1         # High-speed non-cryptographic hashing
datasketch>=1.6.4     # For MinHash LSH (Step 3)

# Machine Learning & Tokenization
# Note: fasttext-wheel is much easier to install than raw 'fasttext'
fasttext-wheel>=0.9.2 
tiktoken>=0.7.0       # OpenAI's fast tokenizer (Step 4)

# Configuration & Utils
pyyaml>=6.0.1
requests              # Helpful if you need to download data via script